:root {
  --blue: rgb(12, 131, 155);
  --pink: rgb(230, 57, 120);
  --orange: rgb(219, 118, 3);
  --purple: rgb(183, 148, 250);
  --yellow: rgb(245, 229, 91);
  --green: rgb(136, 194, 19);
  --red: rgb(200, 10, 10);
  --white: rgb(231, 231, 222);
  --beige: rgb(200, 183, 183);
  --black: #1e1e22;
}

body {
  position: relative;
  background-color: var(--black);
  color: var(--black);
  padding-top: 100px;
}

a {
  color: inherit;
}
.tall {
  height: 100vh;
}
.pop {
  background-color: rgba(200, 183, 183, 0.85);
  border-radius: 5px;
}
#app {
  font-size: x-large;
  font-family: "American Typewriter";
}
.Typewriter__wrapper,
.Typewriter__cursor {
  color: var(--beige);
  font-size: x-large;
}
